<ion-tabs>
	<ion-tab-bar slot="bottom" color="dark">
		<ion-tab-button tab="home" href="/tabs/home">
			<ion-icon aria-hidden="true" name="home"></ion-icon>
			<ion-label>Home</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="summary" href="/tabs/summary">
			<ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
			<ion-label>Summary</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="addWindow" href="/tabs/addWindow">
			<ion-icon aria-hidden="true" name="add-circle"></ion-icon>
			<ion-label>New Entry</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
